body {
    height: 100vh;
}

.title {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

img {
    width: 100px;
}

.game-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    text-align: center;
}
